/elpa/
/eln-cache/
/.cache/
/.DS_Store
*DS_Store*
/localpackages/cocaine/
/localpackages/darken-buffer/
/localpackages/flycheck-eglot/
/localpackages/flycheck-overlay/
/localpackages/mito-laser-emacs/
/localpackages/periphery/
/localpackages/swift-development/
/localpackages/welcome-dashboard/

# Temporary and runtime files
flycheck_*.el
/persist/
/recentf
/history
/undo-fu-session/
/transient/
/request/
/tramp
/tree-sitter/
/projects
/var/
