*.DS_Store
*.elc
/Not used/
/backups/
/eln-cache/
/elpa/
/history
/localpackages/welcome-dashboard
/places
/projectile-bookmarks.eld
/quelpa/
/recentf
/themes/.DS_Store
/transient/
/var/
/debug-adapaters/
/auto-save-list/
/ellama-sessions/
